.section-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: var(--color-light-grey);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-white);
    border-radius: 0 0 40px 40px;
    background: var(--color-dark-grey);
}

.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
}

.header__logo-link {
    width: 150px;
}

.header__logo-img {
    width: 100%;
    height: auto;
}

.burgermenu__container-icon {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}

.nav__ui {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-left: 100px;
}

.nav__link {
    font-size: 24px;
    color: var(--color-white);
    font-weight: 300;
    transition: 0.5s;
}

.nav__link:hover {
    color: var(--color-grey-2);
    transition: 0.5s;
}

.communication {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 100%;
    gap: 20px;
}

.communication__link {
    width: 30px;
    height: auto;
}

.communication__img {
    width: 100%;
    height: auto;
}

.communication__link_tel {
    width: auto;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 3px;
    color: var(--color-white);
}